.plant-card {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    z-index: -2;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.plant-image>img {
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: flex;
}

.card-content {
    z-index: 1;
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
}

:root {
    --color-primary: rgba(47, 31, 68, 0.842);
    --color-secondary: rgb(7, 56, 112);
    --color-light: rgb(255, 255, 255);
    --text-light: white;
    --text-dark: rgb(0, 61, 13);
    --body-background: rgb(247, 236, 204);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.rounded {
    border-radius: 10px;
}

p {
    padding: 10px;
}

.flex {
    display: flex;
}

.flex-bullseye {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overflow {
    overflow: hidden;
}

.h2 {
    font-size: 20px;
    color: rgb(0, 85, 0);
}

.plant-card {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    z-index: -2;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.plant-image>img {
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: flex;
}

.card-content {
    z-index: 1;
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.find-plants-container {
    width: 100vw;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-plants {
    background-color: var(--color-light);
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: auto;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 2px 5px;
    justify-content: space-between;
    align-items: center;
}

.search-modal-container {
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-modal {
    background-color: var(--color-light);
    display: flex;
    padding: 0px;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 2px 5px;
    align-items: center;
    /* padding-bottom: 20px; */
}

.search-modal-banner {
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgb(75, 180, 75), rgb(46, 128, 46));
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.search-modal-title {
    color: white;
    padding-left: 10px;
}

.close-btn-small {
    display: flex;
    background-color: rgb(248, 67, 67);
    width: 30px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: ease .1s;
    transform: rotate(-45deg);
    border-radius: 100px;
    margin-right: 10px;
    box-shadow: inset 0 0 0 0 black;
}

#close-button:hover {
    background-color: darkred;
    box-shadow: inset 0 0 5px 0 black;
}

.search-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.history {}

#hero {
    background-image: url(/public/img/background.jpg);
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -25;
}

#search-button {
    color: var(--text-light);
    padding: 5px 10px;
    margin: 2px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 150, 0) 0, rgb(0, 85, 0) 100%);
    transition: ease .2s;
    position: relative;
    top: 0;
}

#quoteBox {
    width: 100%;
    position: relative;
    top: 0px;
    height: 100px;
    margin-bottom: 20px;
}

#search-button:hover {
    color: var(--text-light);
    margin: 0px;
    padding: 7px 12px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 167, 0) 0, rgb(0, 110, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 2px;
    top: -2px;
}

#search-button2 {
    color: var(--text-light);
    padding: 5px 10px;
    margin: 2px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 150, 0) 0, rgb(0, 85, 0) 100%);
    transition: ease .2s;
    position: relative;
    top: 0;
}

#search-button2:hover {
    color: var(--text-light);
    margin: 0px;
    padding: 7px 12px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 167, 0) 0, rgb(0, 110, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 2px;
    top: -2px;
}

.page-title {
    font-size: 40px;
    left: 50px;
    font-family: 'Gochi Hand', cursive;
}

.modal-background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.452);
    height: 100vh;
    width: calc(100vw - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.modal-house {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    z-index: 1050;
    z-index: 9999;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.493) 0 10px 10px 0px;
}

.modal-banner {
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgb(75, 180, 75), rgb(46, 128, 46));
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    padding-left: 10px;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.common-name {
    padding-top: 5px;
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.scientific {
    margin-top: -5px;
    font-size: 30px;
    font-style: italic;
    color: rgb(194, 255, 170);
    padding-bottom: 10px;
}

.close-btn {
    display: flex;
    background-color: rgb(248, 67, 67);
    width: 50px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: ease .1s;
    transform: rotate(-45deg);
    border-radius: 100px;
    margin-right: 20px;
    box-shadow: inset 0 0 0 0 black;
}

.modal-column-img {
    display: flex;
    background-color: rgb(0, 248, 95);
    width: 33%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 0 0 10px;
}

.reveal-content {
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.list-row-dark {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: rgb(242, 255, 218);
}

.column-text-list1 {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-start;
    font-size: 10px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

.column-text-list2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    font-size: 10px;
    color: rgb(22, 78, 0);
}

.list-row-light {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;

}

.bottom {
    border-radius: 0 0 10px 0;
}